export(genDelMat)
export(integrate2)
export(integrand)
export(exactCoverageProb)
export(eqnForMin)
export(optimalC)
export(optimalLambda)
export(optimalLambdaC)
export(bonferroniIntervals)
export(bootstrapIntervals)
export(asymmetricIntervals)
import(boot)
